<section class="bg-trade">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Traders</h2>
      </div>
    </div>
    <div class="row">

        <% trades=@trades.each_slice(2).to_a %>

        <% trades.each do |trade| %>
        <div class="col-sm-6">


      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Place</th>
        </tr>
        </thead>
        <tbody>
        <% trade.each do |s| %>
        <tr>

          <td><%=s.name%></td>
          <td><%=s.place%></td>

        </tr>
       <% end %>
        </tbody>
      </table>
        </div>

      <% end %>
</div>
        </div>

    </div>
  </div>
</section>
<script>
    $("#mainNav").removeClass("navbar-shrink");
    $("#mainNav").addClass("navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink");
</script>