@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
  margin: 0;
  padding: 0;

  }
div#container {
  position: relative; /* needed for footer positioning*/
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */
}



textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.portfolio-item
{
 border:  1px solid gainsboro;
}
.section {
  overflow: hidden;
}
.row{
  background-color: #f8f9fa;
}
.home
{
  padding-top: 20px;
}
.link
{
  padding-bottom: 20px;
}
.li#active{
  background-color: floralwhite;

}