<div class="home">
<footer class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav pull-right">
        <li>
        <span class="copyright">Copyright &copy; Sobabooks 2018</span></li>
      </ul>



    </div>
  </div>
</footer>
</div>

